body {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #c8f131, #d5b30a);
    background: linear-gradient(to right, #080809, #b0a319);

}

.form {
    background-color: white;
    border-radius: 25px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    font-weight: 380;
    font-size: larger;
    /* height: 600px; */
}

.form-body {
    text-align: center;
    padding: 20px 10px;

}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input {
    width: 60%;
}

.footer {
    text-align: center;
}

.h1 {
    text-align: center;
}
.btn{
    transition: 0.4s;
}
.btn:hover{
    background-color: goldenrod;
    color: azure;
}